@import '../../../styles/extends/generic';

.btn {
    @extend %enable-transition;
    outline: none;
    position: relative;
    cursor: pointer;
    background-color: $main-color;
    color: $white;
    text-align: center;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    @extend %clickable;

    &.danger {
        background-color: $danger-color;
        color: $white;
        border: 1px solid $danger-color;
    }

    &.outline {
        background-color: $white;
        
        
        &.danger {
            border: 1px solid $danger-color;
            color:  $danger-color;
        }
    }
}